// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(138, 138, 138);
$light-gray: #f4f4f4;
$chat-white: #FFFFFF;

//chat bot palette
$chat-gray: #e5e5e5;
$violet: #CE64E8;
$pink: rgb(221, 123, 123);

//opacity
$gray-op: rgba(138, 138, 138, 0.4);
$violet-op: rgba(206, 100, 232, 0.4);
$violet-card-op: rgba(206, 100, 232,0.8);
$pink-card-op: rgba(221, 123, 123, 0.6);
