<div class="banner-container">
  <%= image_tag('home_ban', class: 'banner-img')%>
  <h1 class="banner-title">Chat with a bot and have fun</h1>
  <p class="banner-p">this is the best place to chat with your favorite bot</p>
  <button class="btn-banner">Start now!</button>
</div>
<div class="home-bots-container d-flex flex-column pt-3">
  <div class="title text-center">
    <h1>Our bots</h1>
  </div>
  <div class="cards-container">
    <div class="bot-card row ms-3">
      <div class="card-effect"></div>
      <div class="card-left col-4 d-flex flex-column justify-content-center">
        <%= image_tag("Lucy_avatar", class: "avatar-card") %>
        <button class="bot-button">chat</button>
      </div>
      <div class="card-right col-8 d-flex flex-column justify-content-center">
        <h1 class="card-title text-center">Lucy</h1>
        <div class="card-content d-flex">
          <p class="description text-center mb-0">I’m a very friendly bot Feel fre to talk with my about romace</p>
          <p class="category text- center mb-0">Romance</p>
        </div>
      </div>
    </div>
  </div>
</div>
