<div class="banner-container">
  <%= image_tag('home_ban', class: 'banner-img')%>
  <h1 class="banner-title">Chat with a bot and have fun</h1>
  <p class="banner-p">this is the best place to chat with your favorite bot</p>
  <button class="btn-banner">Start now!</button>
</div>
<div class="home-bots-container d-flex flex-column justify-content-center pt-3">
  <div class="title text-center">
    <h1>Our bots</h1>
  </div>
  <div class="cards-container">
    <div class="bot-card">
      <div class="card-left">
        <%= image_tag("Lucy_avatar") %>
        <button class="bot-button">chat</button>
      </div>
      <div class="card-right">
        <h1 class="card-title">Lucy</h1>
        <div class="card-content">
          <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, earum?</p>
          <p class="category">Romance</p>
        </div>
      </div>
    </div>
  </div>
</div>
