<div class="banner-container">
  <%= image_tag('home_ban', class: 'banner-img')%>
  <h1 class="banner-title">Chat with a bot and have fun</h1>
  <p class="banner-p">this is the best place to chat with your favorite bot</p>
  <button class="btn-banner">Start now!</button>
</div>
